{{#archives}}
    {{year}}

    {{articles}}
    <article>
        <h1><a href="{{link}}">{{title}}</a></h1>
        <time datetime="{{time}}" pubdate><span class='month'>{{month}}</span> <span class='day'>{{day}}</span> <span class='year'>{{year}}</span></time>
    </article>
    {{/archives}}
{{archives}}
